In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv("files/pc20.csv")

In [3]:
df.head()

,Contract,Sales Order,Created Date,Product: Product Name,Quantity Ordered,Customer,Product: Metal: Metal Name,Product: Product Code
0,CON-27376,SO-15214,7/16/2020,Gold Austrian 1000 Shilling,10.0,Central Refining,Gold,G1000SHIL
1,CON-27710,SO-15414,7/27/2020,Gold Austrian 1000 Shilling,10.0,Central Refining,Gold,G1000SHIL
2,CON-31214,SO-17125,10/9/2020,Gold Austrian 1000 Shilling,8.0,Central Refining,Gold,G1000SHIL
3,CON-27969,SO-15555,8/3/2020,Gold Austrian 1000 Shilling,90.0,Central Refining,Gold,G1000SHIL
4,CON-26551,SO-14742,6/5/2020,Gold Austrian 1000 Shilling,3.0,In God We Trust Coins,Gold,G1000SHIL

In [4]:
df.columns

Index(['Contract ', 'Sales Order', 'Created Date', 'Product: Product Name',
       'Quantity Ordered', 'Customer ', 'Product: Metal: Metal Name',
       'Product: Product Code'],
      dtype='object')

In [5]:
df.drop(['Contract ', 'Sales Order', 'Product: Product Name'],1,inplace=True)

In [6]:
df.head()

,Created Date,Quantity Ordered,Customer,Product: Metal: Metal Name,Product: Product Code
0,7/16/2020,10.0,Central Refining,Gold,G1000SHIL
1,7/27/2020,10.0,Central Refining,Gold,G1000SHIL
2,10/9/2020,8.0,Central Refining,Gold,G1000SHIL
3,8/3/2020,90.0,Central Refining,Gold,G1000SHIL
4,6/5/2020,3.0,In God We Trust Coins,Gold,G1000SHIL

In [7]:
df = df.rename(columns={'Created Date':'Date', 'Product: Metal: Metal Name':'Metal', 'Quantity Ordered':'Quantity','Customer ':'Customer', 'Product: Product Code':'Code'})

In [8]:
df.head()

        Date  Quantity               Customer Metal       Code
0  7/16/2020      10.0       Central Refining  Gold  G1000SHIL
1  7/27/2020      10.0       Central Refining  Gold  G1000SHIL
2  10/9/2020       8.0       Central Refining  Gold  G1000SHIL
3   8/3/2020      90.0       Central Refining  Gold  G1000SHIL
4   6/5/2020       3.0  In God We Trust Coins  Gold  G1000SHIL

In [9]:
df = df[['Date','Customer','Metal','Code','Quantity']]

In [10]:
df.head()

        Date               Customer Metal       Code  Quantity
0  7/16/2020       Central Refining  Gold  G1000SHIL      10.0
1  7/27/2020       Central Refining  Gold  G1000SHIL      10.0
2  10/9/2020       Central Refining  Gold  G1000SHIL       8.0
3   8/3/2020       Central Refining  Gold  G1000SHIL      90.0
4   6/5/2020  In God We Trust Coins  Gold  G1000SHIL       3.0

In [11]:
df.to_csv('files/dtg20pc.csv', index=False)

In [12]:
df.head()

        Date               Customer Metal       Code  Quantity
0  7/16/2020       Central Refining  Gold  G1000SHIL      10.0
1  7/27/2020       Central Refining  Gold  G1000SHIL      10.0
2  10/9/2020       Central Refining  Gold  G1000SHIL       8.0
3   8/3/2020       Central Refining  Gold  G1000SHIL      90.0
4   6/5/2020  In God We Trust Coins  Gold  G1000SHIL       3.0